<%- include('../partials/header') %>


<section id="show-page">
 <div>Title: </div>
  <div>
   <p>"<%= story.title %>"</p>
  </div>
</section>

<section id="comment-page">
 <% story.content.forEach(function(c, index) { %>
  <p>"<%= c.content %>"</p>  
    <% if (user && user._id.equals(c.userID) && story.content.length === index +1) { %>
    <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
        <button id="xBtn" type="submit">X</button>
    </form>
    <a href="/comments/<%= c._id %>/edit/"><button id="editBtn2" type="edit">Edit</button></a>
    
    <% } %>

 <% }); %>  
</section>

<br><br>

<% if (user) {%> 
    <form id="add-review-form" method="POST" action="/comments/stories/<%= story._id %>">
        <textarea id="ta" name="content" maxlength="60"></textarea>
        <input id="btn2" type="submit" value="Submit">
    </form>
<% } %>

<%- include('../partials/footer') %>









